<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>{$page_title}</title>

    <link rel="stylesheet" type="text/css" href="{:WEIXIN_ASSETS}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{:WEIXIN_ASSETS}fonts/ionicons-2.0.1/css/ionicons.min.css">

    <!-- weui -->
    <link rel="stylesheet" type="text/css" href="{:WEIXIN_ASSETS}plugins/weui/css/weui.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="{:WEIXIN_ASSETS}css/styles.css">
    <link rel="stylesheet" type="text/css" href="{:WEIXIN_ASSETS}css/new-styles.css">

    <script type="text/javascript" src="{:WEIXIN_ASSETS}js/jquery.min.js"></script>
    <script type="text/javascript" src="{:WEIXIN_ASSETS}js/bootstrap.min.js"></script>


    <script type="text/javascript" src="{:WEIXIN_ASSETS}plugins/tmpl/tmpl.min.js"></script>

</head>
<body>

