<include file="Public:header"/>
<include file="Public:menu"/>

<div class="content-wrapper">
    <include file="Public:breadcrumb"/>
    <!--主题内容-->
    <section class="content">
        <!--表格-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <form action="{:U('user/fan',array('operation'=>'fans_search'))}" method="post">
                            <div class="pull-right">
                                <label>过滤：</label>
                                <div class="inline-block" id="region">
                                    <select class="form-control w150 inline-block province" id="province_id" name="province_id">
                                        <option value="">≡ 请选择省 ≡</option>
                                    </select>
                                    <select class="form-control w150 inline-block city" id="city_id" name="city_id">
                                        <option value="">≡ 请选择市 ≡</option>
                                    </select>
                                    <select class="form-control w150 inline-block district" id="district_id" name="district_id">
                                        <option value="">≡ 请选择区 ≡</option>
                                    </select>
                                </div>
                                <input type="text" placeholder="搜索..." class="form-control w150 inline-block" id="search" name="search">
                                <button class="btn btn-default" onclick="return myform()"><i class="fa fa-search inline-block"></i></button>
                            </div>
                        </form>
                    </div><!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover text-center">
                            <tbody>
                            <tr>
                                <th width="15%">注册时间</th>
                                <th width="13%">用户名</th>
                                <th width="13%">姓名</th>
                                <th width="13%">电话</th>
                                <th width="13%">推荐人</th>
                                <th width="13%">实名认证</th>
                                <th width="20%">管理</th>
                            </tr>
                            <volist name="data" id="val">
                                <tr>
                                    <td>{$val.add_time}</td>
                                    <td>{$val.name}</td>
                                    <td>{$val.real_name}</td>
                                    <td>{$val.tel}</td>
                                    <td>{$val.user_name}</td>
                                    <td>
                                        <if condition="$val.is_validated == no"><small class="label bg-red">否</small>
                                            <elseif condition="$val.is_validated == yes"/><small class="label bg-green">是</small>
                                            <else/><small class="label bg-gray">待审核</small>
                                        </if>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" style="margin-top: 3px;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#view_details" onclick="view_details('{$val.id}')">查看详情</a>
                                        <a href="javascript:void(0)" style="margin-top: 3px;" type="button" class="btn btn-default btn-sm" onclick="sh('{$val.id}',this)">审核</a>
                                        <a href="javascript:void(0)" style="margin-top: 3px;" type="button" class="btn btn-default btn-sm" onclick="del('{$val.id}')">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class=" col-sm-7 ">
                                <div class="text-right">
                                    <ul class="pagination">
                                        {$page}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
        <!--查看详情-->
        <div class="modal fade" id="view_details">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">基本信息</h4>
                    </div>
                    <div class="modal-body" style="padding-top: 0px;">
                        <table class="table table-hover">

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default w100" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--删除-->
        <div class="modal fade" id="del">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <span class="glyphicon glyphicon-question-sign fa-2x text-red" style="font-size: 18px" ></span><span style="margin-left: 10px;font-size: 18px;color: red;">确认要删除选择的数据</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary w100">确定</button>
                        <button type="button" class="btn btn-default w100" data-dismiss="modal">取消</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- 审核模态框 -->
        <div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">审核：</h4>
                    </div>
                    <div class="modal-body text-center">
                        <label class="radio-inline">
                            <input type="radio" id="review_no" name="review" value="no">审核不通过
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="review_pending" name="review" value="pending">待审核
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="review_yes" name="review" value="yes">审核通过
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</div>
<!--省市区三级联动-->
<script src="{:ASSETS}plugins/jquery.cityselect.js" type="text/javascript"></script>
<script type="text/javascript">
    //搜索内容返回
    var province_id = "{$province_id}";
    var city_id = "{$city_id}";
    var district_id = "{$district_id}";
    var search = "{$search}";
    $("#search").val(search);
    //待审核人数
    var num = {$no_num};
    var user_type_01 = "";
    var user_type = "{$type}";
    if(user_type == "fan"){
        user_type_01 = "粉丝";
        if(num != 0) {
            $("span:contains("+user_type_01+")").after('<small class="label pull-right bg-green">' + num + '位</small>');
        }
    }
    //省市区三级联动
    $(function () {
        //省市区三级联动
        //注意三级联动结构：#region(自定义) > .province + .city + .district
        var obj = {
            nodata: "none",
            required: false,
            province:null, //"河南省"
            city: null,
            district: null,
            url: "{:U('admin/user/getCity')}"
        };

        function pdc(p,d,c) {
            if(p ==""){
                p=null;
            }
            if(d ==""){
                d=null;
            }
            if(c == ""){
                c = null;
            }
            obj['province'] = p;
            obj['district'] = d;
            obj['city'] = c;
        }
        pdc(province_id,district_id,city_id);
        $("#region").citySelect(obj);

    });

    //查看详情
    function view_details(id) {
        var url = "{:U('user/fans_details')}";
        $.get(url,{id:id},function (data) {
            var json = JSON.parse(data);
            //存放数据容器
            var container = "";
            //是否实名认证
            var is_validated = "";
            //性别
            var sex = "";
            //操作数据
            for(var key in json) {
                var row = json[key];
                if(row.is_validated == "yes"){
                    is_validated = "是";
                }else if(row.is_validated == "no"){
                    is_validated = "否";
                }else{
                    is_validated = "待审核";
                }

                if(row.sex == "man"){
                    sex = "男";
                }else if(row.sex == "female"){
                    sex = "女";
                }else{
                    sex = "保密";
                }
                container+='<tr> <td width="40%" class="text-right">姓名：</td><td width="60%" class="text-left">'+row.name+'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">性别：</td><td width="60%" class="text-left">'+sex+'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">年龄：</td><td width="60%" class="text-left">'+row.age+'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">电话：</td><td width="60%" class="text-left">'+row.tel +'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">角色：</td><td width="60%" class="text-left">粉丝</td></tr>';
                container+='<tr> <td width="40%" class="text-right">是否实名认证：</td><td width="60%" class="text-left">'+is_validated+'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">身份证：</td><td width="60%" class="text-left">'+row.identity+'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">推荐人：</td><td width="60%" class="text-left">'+row.user_name +'</td></tr>';
                container+='<tr> <td width="40%" class="text-right">地址：</td><td width="60%" class="text-left">'+row.address+'</td></tr>';
            }
            $("#view_details table").html(container);
        })
    }

    //删除
    function del(id) {
        $("#del").modal({});
        $("#del button:contains('确定')").click(function () {
            location.href = "{:U('user/del')}&id="+id;
        })
    }

    //审核模态框
    function sh(id, a) {
        var type = $(a).parent().prev().children().html();
        if(type == "是"){
            $("#review_yes").prop("checked",true);
        }else if(type == "否"){
            $("#review_no").prop("checked",true);
        }else if(type == "待审核"){
            $("#review_pending").prop("checked",true);
        }
        $("#review").modal({});
        $("#review button:contains('确定')").one('click', function () {
            var val = $("#review input:checked").val();
            var url = "{:U('user/review')}";
            $.get(url, {id: id, review: val}, function (data) {
                console.log(data);
                if (val == "yes") {
                    var before_type = $(a).parent().prev().children().html();
                    if (before_type == "待审核") {
                        var num = $("span:contains(" + user_type_01 + ")").next().text();
                        num = num.substr(0, num.length - 1);
                        num = num - 1;
                        if (num == 0) {
                            $("span:contains(" + user_type_01 + ")").next().text("");
                        } else {
                            $("span:contains(" + user_type_01 + ")").next().text(num + "位");
                        }
                    }
                    $(a).parent().prev().html('<small class="label bg-green">是</small>');
                    $("#review").modal("hide");
                } else if (val == "no") {
                    var before_type = $(a).parent().prev().children().html();
                    if (before_type == "待审核") {
                        var num = $("span:contains(" + user_type_01 + ")").next().text();
                        num = num.substr(0, num.length - 1);
                        num = num - 1;
                        if (num == 0) {
                            $("span:contains(" + user_type_01 + ")").next().text("");
                        } else {
                            $("span:contains(" + user_type_01 + ")").next().text(num + "位");
                        }
                    }
                    $(a).parent().prev().html('<small class="label bg-red">否</small>');
                    $("#review").modal("hide");
                } else if (val == "pending") {
                    var before_type = $(a).parent().prev().children().html();
                    if (before_type != "待审核") {
                        var num = $("span:contains(" + user_type_01 + ")").next().text();
                        if (num == "") {
                            $("span:contains("+user_type_01+")").after('<small class="label pull-right bg-green">1位</small>');
                        } else {
                            num = num.substr(0, num.length - 1);
                            num = parseInt(num) + 1;
                            $("span:contains(" + user_type_01 + ")").next().text(num + "位");
                        }
                    }
                    $(a).parent().prev().html('<small class="label bg-gray">待审核</small>');
                    $("#review").modal("hide");
                }
            })
        })
    }

    //搜索条件判断
    function myform() {
        var province = $.trim($("#province_id").val());
        var district = $.trim($("#district_id").val());
        var city = $.trim($('#city_id').val());
        var search_ =$.trim($("#search").val());
        if(province == "" && district == "" && city =="" && search_ ==""){
            alert("请输入搜索条件");
            return false;
        }else {
            return true;
        }
    }
</script>
<include file="Public:footer"/>