<include file="Public:header"/>
<include file="Public:menu"/>
<style type="text/css">
    .error{
        color: red;
    }
</style>
<div class="content-wrapper">
    <include file="Public:breadcrumb"/>
        <!--主题内容-->
        <section class="content">
            <div class="row">
                <div class="nav-tabs-custom col-md-8">
                    <ul class="nav nav-tabs">
                        <li class="active w200"><a aria-expanded="true" href="#tab_1" data-toggle="tab">基本信息</a></li>
                        <li class="w200"><a aria-expanded="false" href="#tab_2" data-toggle="tab">修改密码</a></li>
                    </ul>
                    <!--基本信息-->
                    <div class="tab-content">
                        <div class="tab-pane active padding20" id="tab_1">
                            <form id="validate" class="form-horizontal" method="post" action="{:U('user/user_edit_form')}" role="form">
                                <input type="hidden" name="id" value="{$data.id}">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">用户名：</label>
                                    <div class="col-md-5">
                                        <input type="text" name="name" value="{$data.name}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">真实姓名：</label>
                                    <div class="col-md-5">
                                        <input type="text" name="real_name" value="{$data.real_name}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">电话：</label>
                                    <div class="col-md-5">
                                        <input type="text" name="tel" value="{$data.tel}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">年龄：</label>
                                    <div class="col-md-2">
                                        <input type="text" name="age" value="{$data.age}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">状态：</label>
                                    <div class="col-md-4" id="status">
                                        <label class="radio-inline">
                                            <input type="radio" checked="checked" value="enabled" name="status">正常
                                        </label>

                                        <label class="radio-inline">
                                            <input type="radio" value="disabled" name="status">冻结
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">性别：</label>
                                    <div class="col-md-4" id="sex">
                                            <label class="radio-inline">
                                                <input type="radio" checked="checked" value="man" name="sex">男
                                            </label>

                                            <label class="radio-inline">
                                                <input type="radio" value="female" name="sex">女
                                            </label>

                                            <label class="radio-inline">
                                                <input type="radio" value="secret" name="sex">保密
                                            </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">省市区：</label>
                                    <div style="margin-top: 6px;" class="col-md-8">
                                        <div id="region">
                                            <select class="form-control w150 inline-block province" id="province_id" name="province_id">
                                                <option value="" name="province_id">≡ 请选择省 ≡</option>
                                            </select>
                                            <select class="form-control w150 inline-block city" id="city_id" name="city_id">
                                                <option value="" name="district_id">≡ 请选择市 ≡</option>
                                            </select>
                                            <select class="form-control w150 inline-block district" id="district_id" name="district_id">
                                                <option value="" name="district_id">≡ 请选择区 ≡</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">详细地址：</label>
                                    <div class="col-md-5">
                                        <input type="text" name="address" value="{$data.address}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">身份证：</label>
                                    <div class="col-md-5">
                                        <input type="text" name="identity" value="{$data.identity}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否实名认证：</label>
                                    <div class="col-md-4" id="is_validated">
                                            <label class="radio-inline">
                                                 <input type="radio" value="pending" name="is_validated">待审核
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="yes" name="is_validated">已通过
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="no"  name="is_validated">未通过
                                            </label>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-md-3 control-label">身份证照片：</label>
                                    <div>
                                        <div class="input-group col-md-4" style="position: relative;left: 15px;">
                                            <input name="identity_img" value="{$data.identity_img}" id="upload_thumb" placeholder="上传缩略图 ..." class="form-control" type="text">
                                            <div class="input-group-btn">
                                                <button onclick="upload()" type="button" class="btn btn-success btn-flat"><i class="fa fw fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                        <em class="help-block"></em>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">余额：</label>
                                    <div class="col-md-3">
                                        <input type="text" name="money" value="{$data.money}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">旅游积分：</label>
                                    <div class="col-md-3">
                                        <input type="text" name="integral" value="{$data.integral}" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">角色：</label>
                                    <div class="col-md-3">
                                        <select  id="role" name="user_type" class="form-control">
                                                <option value="province_agent">省代理</option>
                                                <option value="city_agent">市代理</option>
                                                <option value="district_agent">区代理</option>
                                                <option value="partner">合作商家</option>
                                                <option value="member">T会员</option>
                                                <option value="fan">粉丝</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">级别：</label>
                                    <div class="col-md-3">
                                        <select name="level" id="level" class="form-control inline-block">
                                            <volist name="level_data" id="val">
                                                <option value="{$val.id}">{$val.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4" style="margin-bottom: 15px">
                                    <button class="btn btn-primary pull-right btn-sm w100 " onclick="validate()">确定</button>
                                </div>
                                <div class="col-md-4">
                                    <a href="{$user_type_url}" class="btn btn-info pull-left btn-sm w100">返回</a>
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->
                        <!--修改密码-->
                        <div class="tab-pane padding20" id="tab_2">
                            <form id="pwd_form" action="{:U('user/modify_pwd')}" class="form-horizontal" method="post" role="form">
                                <input type="hidden" name="id" value="{$data.id}">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">新密码：</label>
                                    <div class="col-md-5">
                                        <input type="password" name="new_pwd" id="new_pwd" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">在输入一次密码：</label>
                                    <div class="col-md-5">
                                        <input type="password" id="again_pwd" name="again_pwd" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-5" style="margin-bottom: 15px">
                                    <button onclick="validate_pwd()" class="btn btn-primary pull-right btn-sm w100">修改密码</button>
                                </div>
                            </form>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div>
            </div>

            <!-- 上传图片 -->
            <div class="modal fade " id="upload_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">上传图片</h4>
                        </div>
                        <div class="modal-body no-padding maxh500">
                            <div id="images-zone" class="images-zone tc">
                                <img src="" id="img" alt="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left" style="">
                                <div class="btn btn-success fileinput-button pull-left inline-block">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>添加图片</span>
                                    <input id="fileupload" type="file" name="files[]" multiple="">
                                </div>
                                <!-- <button type="button" class="btn btn-default ml20" data-dismiss="modal">上传图片</button> -->
                                <span id="loading" class="loading inline-block mt5 ml10 hide"><i class="fa fa-refresh fa-spin"></i>&nbsp; 数据加载中...<em id=""></em></span>
                                <span id="success" class="loading inline-block mt5 ml10 hide"><i class="fa fa-check-circle-o"></i>上传成功</span>
                            </div>
                            <button type="button" class="btn btn-default ml20" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
</div>
<!--表单验证-->
<script src="{:ASSETS}plugins/jquery-validate/jquery.validate.min.js" type="text/javascript"></script>

<!-- jquery file upload -->
<script src="{:ASSETS}plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="{:ASSETS}plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
<link href="{:ASSETS}plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
<!--省市区三级联动-->
<script src="{:ASSETS}plugins/jquery.cityselect.js" type="text/javascript"></script>

<script type="text/javascript">
    //省市区三级联动
    $(function () {
        //省市区三级联动
        //注意三级联动结构：#region(自定义) > .province + .city + .district
        var province = $.trim("{$data.province_id}");
        var district =$.trim("{$data.district_id}");
        var city = $.trim("{$data.city_id}");
        var obj = {
            nodata: "none",
            required: false,
            province:null, //"河南省"
            city: null,
            district: null,
            url: "{:U('admin/user/getCity')}"
        };

        function pdc(p,d,c) {
            obj['province'] = p;
            obj['district'] = d;
            obj['city'] = c;
        }
        pdc(province,district,city);
        $("#region").citySelect(obj);

        //角色选中
        var role_type = "{$data.user_type}";
        $("#role option[value="+role_type+"]").prop("selected",true);
        //性别选中
        var sex_type = "{$data.sex}";
        $("#sex input[value="+sex_type+"]").prop("checked",true);
        //审核状态选中
        var validated = "{$data.is_validated}";
        $("#is_validated input[value="+validated+"]").prop("checked",true);
        //等级选中
        var level = "{$data.level_id}";
        $("#level option[value="+level+"]").prop("selected",true);
        //状态默认选中
        var status = "{$data.status}";
        $("#status input[value="+status+"]").prop("checked",true);
    });

    //上传图片
    function upload() {
        $('#upload_img').modal({});
    }

   //添加图片
    var url = "{:U('user/jqueryFileUpload')}";
    $("#fileupload").fileupload({
        url: url,
        dataType: 'json',
        autoUpload: true,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 999000,

        done: function(e, data) {
            $.each(data.result.files, function (index, file) {
                console.log(file.url);
                $("#img").attr("src",file.thumbnailUrl);
                $("#upload_img button:contains('确定')").click(function () {
                    $("#upload_thumb").val(file.url);
                    $("#upload_img").modal("hide");
                })
            });
        },

        progressall: function(e, data) {
            //显示进度条
            var progress = parseInt(data.loaded / data.total * 100,10);
            if(progress == 100){
                $("#success").removeClass("hide");
                $("#loading").addClass("hide");
            }else {
                $("#loading").removeClass("hide");
            }
        }
    });

    //表单验证
    function validate() {

        $("#validate").validate({
            rules: {
                name: "required",
                real_name:{
                    required:true,
                },
                pwd:{
                    required:true,
                    minlength: 5
                },
                again_pwd:{
                    required:true,
                    minlength: 5,
                    equalTo: "#pwd"
                },
                tel:{
                    required:true
                },
                age:{
                    required:true
                },
                sex:{
                    required:true
                },
                province_id:{
                    required:true
                },
                district_id:{
                    required:true
                },
                city_id:{
                    required:true
                },
                address:{
                    required:true
                },
                identity:{
                    required:true
                },
                identity_img:{
                    required:true
                },
                user_type:{
                    required:true
                },
                level:{
                    required:true
                },
                status:{
                    required:true
                }
            },

            messages:{
                name:"用户名不能为空",
                real_name:{
                    required:"真实姓名不能为空",
                },
                pwd:{
                    required:"请输入密码",
                    minlength:"密码最少5个字符"
                },
                again_pwd:{
                    required:"请输入密码",
                    minlength:"密码最少5个字符",
                    equalTo: "俩次输入密码不一致"
                },
                tel:{
                    required:"请输入电话号码"
                },
                age:{
                    required:"请输入年龄"
                },
                sex:{
                    required:"请选择性别"
                },
                province_id:{
                    required:"请选择省份"
                },
                district_id:{
                    required:"请选择地区"
                },
                city_id:{
                    required:"请选择市"
                },
                address:{
                    required:"请输入地址"
                },
                identity:{
                    required:"请输入身份证号"
                },
                identity_img:{
                    required:"请上传身份证照片"
                },
                user_type:{
                    required:"请选择角色"
                },
                level:{
                    required:"请选择等级"
                },
                status:{
                    required:"请选择状态"
                }
            }
        });
    }

    //检测密码
    function validate_pwd() {

        $("#pwd_form").validate({
            rules: {
                new_pwd:{
                    required:true,
                    minlength: 5
                },
                again_pwd:{
                    required:true,
                    minlength: 5,
                    equalTo: "#new_pwd"

                }

            },

            messages:{

                new_pwd:{
                    required:"请输入密码",
                    minlength:"密码最少5个字符"
                },
                again_pwd:{
                    required:"请输入密码",
                    minlength:"密码最少5个字符",
                    equalTo: "俩次输入密码不一致"
                }
            }
        });
    }

</script>
    <include file="Public:footer"/>