<include file="Public:header"/>
<div id="wrapper">

    <!--头部-->
    <div id="header">
        <div class="pull-left">
            <a href="javascript:history.go(-1)" class="arrow-back"><i class="icon ion-ios-arrow-back"></i></a>
        </div>
        <div class="title">楼盘列表</div>
        <div class="pull-right user-center">
            <a href="{:U('Auth/login')}"><i class="ion-android-contact size-18"></i></a>
        </div>
    </div>
    <div class="container tab-container">
        <div class="row">
            <div class="weui-tab">
                <div class="weui-navbar">
                    <div id="tabArea" data-tmpl="tpl_t_area" class="weui-navbar__item">
                        地区
                    </div>
                    <div id="tabHouseType" data-tmpl="tpl_t_house_type" class="weui-navbar__item">
                        户型
                    </div>
                </div>
                <div class="weui_tab_bd">
                    <div id="actionSheet_wrap">
                        <div class="weui-mask" id="iosMask" style="display: none;"></div>
                        <div class="weui-actionsheet" id="iosActionsheet">
                            <div class="weui-actionsheet__menu" id="weui_actionsheet_menu_placeholder">

                            </div>
                            <div class="weui-actionsheet__action">
                                <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!--最新房产-->
	<div class="lastest-news container">
		<div class="row" id="null_row">
			<div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">最新楼盘</div>
            <div class="weui-panel__bd" id="houses">
                <volist name="house" id="houses">
                    <a href="{:U('House/details')}&id={$houses.id}" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                            <img width="100" height="70" class="weui-media-box__thumb" src="{$houses.thumb}">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title" style="display: inline-block">{$houses.title|subtext=8}</h4>
                            <span class="price">{$houses.price}元/m²</span>
                            <p class="weui-media-box__desc">{$houses.summary|subtext=31}</p>
                        </div>
                    </a>
                </volist>
            </div>
            <div class="weui-panel__ft" id="house_html">
                <a href="javascript:void(0);" id="house_see" onclick="house_see_more()" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd text-center">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>
                <div id="house_loading" class="weui-cell weui-cell_access weui-cell_link hide">
                    <div class="weui-cell__bd text-center"><img src="{:WEIXIN_ASSETS}img/loading.gif">数据加载中...</div>
                    <span class="weui-cell__ft"></span>
                </div>
                <div class="weui-cell weui-cell_access weui-cell_link hide" id="loaded">
                    <div class="weui-cell__bd text-center">加载完毕</div>
                    <span class="weui-cell__ft"></span>
                </div>
            </div>
        </div>
		</div>
        <div class="weui-loadmore weui-loadmore_line hide" id="is_null">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
	</div>


	<div id="push"></div>
</div><!--/end wrapper-->

<style>
	.tab-container {
		padding-bottom: 15px;
		height: 50px;
	}
    .weui-actionsheet {
        max-height: 400px;
        overflow-y: scroll;
    }
    .price {
        top: 22px;
    }

</style>

<!--模板:区域-->
<script type="text/x-tmpl" id="tpl_t_area">
    <div order="-1" class="weui-actionsheet__cell region_name">{%='不限'%}<i class="weui-icon-success-no-circle hide"></i></div>
    {% for(var i=0;i<o.obj.length;i++) { %}
         <div order="{%=i%}" class="weui-actionsheet__cell region_name">{%=o.obj[i]['region_name']%}<i class="weui-icon-success-no-circle hide"></i></div>
    {% } %}
</script>

<!--模板:户型-->
<script type="text/x-tmpl" id="tpl_t_house_type">
    <div sid="-1" class="weui-actionsheet__cell house_type">{%=o.obj[0]['other']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="0" class="weui-actionsheet__cell house_type">{%=o.obj[0]['one']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="1" class="weui-actionsheet__cell house_type">{%=o.obj[0]['two']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="2" class="weui-actionsheet__cell house_type">{%=o.obj[0]['three']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="3" class="weui-actionsheet__cell house_type">{%=o.obj[0]['four']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="4" class="weui-actionsheet__cell house_type">{%=o.obj[0]['five']%}<i class="weui-icon-success-no-circle hide"></i></div>
    <div sid="5" class="weui-actionsheet__cell house_type">{%=o.obj[0]['six']%}<i class="weui-icon-success-no-circle hide"></i></div>
</script>

<script type="text/javascript">
    var j = 10;
    var order = "";
    var sid = "";
    $(document).on('click','.house_type',function () {
        var room = $(this).text();
        $('#loaded').addClass('hide');
        $('#house_loading').addClass('hide');
        $('#house_see').removeClass('hide');
        $('#is_null').addClass('hide');
        $('#null_row').removeClass('hide');
        j=10;
        var url = "{:U('House/region_type_select')}";
        $.getJSON(url,{'room':room},function (data) {
            var div = '';
            $.each(data,function (index,value) {
                if (value.title == null) {
                    value.title = '';
                }
                if (value.summary == null) {
                    value.summary = '';
                }
                if (value.price == null) {
                    value.price = '';
                }
                div += '<a href='+"{:U('House/details')}"+"&id="+value.id+' class="weui-media-box weui-media-box_appmsg">';
                div += '<div class="weui-media-box__hd">';
                div += '<img width="100" height="70" class="weui-media-box__thumb" src="'+value.thumb+'">';
                div += '</div>';
                div += '<div class="weui-media-box__bd">';
                div += '<h4 class="weui-media-box__title">'+value.title+'</h4>';
                div += '<p class="weui-media-box__desc">'+value.summary+'</p>';
                div += '<span class="price">'+parseInt(value.price)+'元/m²</span>';
                div += '</div>';
                div += '</a>';
            });
            $('#houses').html(div);
            if (data.length < 10 && data.length >=1) {
                $('#house_see').addClass('hide');
                $('#loaded').removeClass('hide');
            } else if (data.length < 1) {
                $('#house_see').addClass('hide');
                $('#null_row').addClass('hide');
                $('#is_null').removeClass('hide');
            }
        });
        sid = $(this).attr('sid');
        hideActionSheet();
    });

    $(document).on('click', '.region_name', function () {
        var region = $(this).text();
        $('#loaded').addClass('hide');
        $('#house_loading').addClass('hide');
        $('#house_see').removeClass('hide');
        $('#is_null').addClass('hide');
        $('#null_row').removeClass('hide');
        j = 10;
        var url = "{:U('House/region_type_select')}";
        $.getJSON(url, {'region': region}, function (data) {
            //console.log(data);
            var div = '';
            $.each(data, function (index, value) {
                if (value.title == null) {
                    value.title = '';
                }
                if (value.summary == null) {
                    value.summary = '';
                }
                if (value.price == null) {
                    value.price = '';
                }
                div += '<a href=' + "{:U('House/details')}" + "&id=" + value.id + ' class="weui-media-box weui-media-box_appmsg">';
                div += '<div class="weui-media-box__hd">';
                div += '<img width="100" height="70" class="weui-media-box__thumb" src="' + value.thumb + '">';
                div += '</div>';
                div += '<div class="weui-media-box__bd">';
                div += '<h4 class="weui-media-box__title">' + value.title + '</h4>';
                div += '<p class="weui-media-box__desc">' + value.summary + '</p>';
                div += '<span class="price">' + parseInt(value.price) + '元/m²</span>';
                div += '</div>';
                div += '</a>';
            });
            $('#houses').html(div);
            if (data.length < 10 && data.length >=1) {
                $('#house_see').addClass('hide');
                $('#loaded').removeClass('hide');
            } else if (data.length < 1) {
                $('#house_see').addClass('hide');
                $('#null_row').addClass('hide');
                $('#is_null').removeClass('hide');
            }

        });
        order = $(this).attr('order');
        hideActionSheet();
    });

    if ("{$num}" <= 10 && "{$num}" >=1 ) {
        $('#house_see').addClass('hide');
        $('#loaded').removeClass('hide');
    } else if ("{$num}" < 1) {
        $('#house_see').addClass('hide');
        $('#null_row').addClass('hide');
        $('#is_null').removeClass('hide');
    }

    function house_see_more() {
        j = j+10;
        $('#house_see').addClass('hide');
        $('#house_loading').removeClass('hide');
        var url = "{:U('House/house_see_more')}";
        //var data_length = '';
        $.getJSON(url,{j:j},function (data) {
            //console.log(data);
            var houses = '';
            $.each(data,function (index,value) {
                if (value.title == null) {
                    value.title = '';
                }
                if (value.summary == null) {
                    value.summary = '';
                }
                if (value.price == null) {
                    value.price = '';
                }
                houses += '<a href='+"{:U('House/details')}"+"&id="+value.id+' class="weui-media-box weui-media-box_appmsg">';
                houses += '<div class="weui-media-box__hd">';
                houses += '<img width="100" height="70" class="weui-media-box__thumb" src="'+value.thumb+'">';
                houses += '</div>';
                houses += '<div class="weui-media-box__bd">';
                houses += '<h4 class="weui-media-box__title">'+value.title+'</h4>';
                houses += '<p class="weui-media-box__desc">'+value.summary+'</p>';
                houses += '<span class="price">'+parseInt(value.price)+'/m²</span>';
                houses += '</div>';
                houses += '</a>';
            });
            $('#houses').html(houses);

            if (j > data.length) {
                $('#house_loading').addClass('hide');
                $('#house_see').addClass('hide');
                $('#loaded').removeClass('hide');
            } else {
                $('#house_loading').addClass('hide');
                $('#house_see').removeClass('hide');
            }

        });
    }


    //js模板弹出与消失
    var $iosActionsheet = $('#iosActionsheet');
    var $iosMask = $('#iosMask');

    function hideActionSheet() {
        $iosActionsheet.removeClass('weui-actionsheet_toggle');
        $iosMask.fadeOut(200);
    }

    $iosMask.on('click', hideActionSheet);
    $('#iosActionsheetCancel').on('click', hideActionSheet);

    //tab1 event
    $('#tabArea').on('click', function () {
        $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        //actionsheet
        var tmpId = $(this).attr("data-tmpl");

        var obj = eval('<?php echo json_encode($district) ; ?>');
        var data = {
            'obj':obj
        };
        var tpl = window.tmpl(tmpId,data);
        $("#weui_actionsheet_menu_placeholder").html($(tpl));

        if(order != ""){
            $("div[order="+order+"]").children().removeClass("hide");
        }

        $iosActionsheet.addClass('weui-actionsheet_toggle');
        $iosMask.fadeIn(200);

    });
    //tab2 event
    $('#tabHouseType').on('click', function () {
        $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        //actionsheet
        var tmpId = $(this).attr("data-tmpl");

        var obj = eval('<?php echo json_encode($house_type); ?>');
        var data = {
          "obj":obj
        };
        var tpl = window.tmpl(tmpId,data);
        $("#weui_actionsheet_menu_placeholder").html($(tpl));

        if(sid != ""){
            $("div[sid="+sid+"]").children().removeClass("hide");
        }

        $iosActionsheet.addClass('weui-actionsheet_toggle');
        $iosMask.fadeIn(200);
    });

</script>
<include file="Public:footer"/>